/* .pagination {
    padding: 3rem;
    margin-top: 2rem;
}

.pagination ul {
    justify-content: center;
}

.pagination ul li {
    margin: 0 0.5rem;
}

.pagination ul li a {
    padding: 2rem;
    font-size: 1.5rem;
}

.MuiButtonBase-root {
    color: #000 !important;
    border-color: #000 !important;
}

.MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #000 !important;
} */
